@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

body {
    font-family: 'Philosopher', sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-areas: 'category product productInfo' 'orderForm orderForm orderForm' 'orderInfo orderInfo orderInfo';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.category,
.product {
    line-height: 30px;
    border: solid 1px #fff;
    background-color: #e0e0e0;
    padding-left: 10px;
}

.category{
    grid-area: category;
}

.product{
    grid-area: product;
}

#productInfo {
    display: flex;
    justify-content: center;
    grid-area: productInfo;
}

.information {
    width: 100%;
    border: solid 1px #fff;
    background-color: #e0e0e0;
}

.category:active,
.product:active {
    background-color: #f0f0f0;
}

.product-name {
    text-align: center;
    margin: 15px 0px;
}

.product-photo {
    max-width: 90%;
    height: auto;
    border: solid 1px black;
    margin: 0 5%;
}

.product-info {
    text-align: center;
    margin: 5px 0px 15px;
}

#buyButton {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    height: 30px;
    min-width: 50%;
    margin: 0px 25% 15px;
    background-color: #fff;
    border: solid 1px #000;
}

#buyButton:active {
    background-color: #d7d7d7;
}


#orderForm{
    grid-area: orderForm;
    text-align: center;
    display: none;
    border: solid 2px #d7d7d7;
    margin: 10px 0px;
}

#newForm{
    width: 80%;
    padding: 0 10%;
}

.form-element{
    text-align: left;
    line-height: 30px;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fullName,
#city,
#delivery,
#quantity,
#comment{
    flex-grow: 1;
    margin-left: 3%;
    height: 20px;
    border-radius: 0%;
    border: solid 1px #000;
}

#comment{
    height: 50px;
}

#confirmOrderElement{
    justify-content: center;
}

#confirmOrder,
#okButton{
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    width: 100%;
    line-height: 24px;
    border-radius: 0%;
    border: solid 1px #000;
    background-color: #ececec;
    margin: 20px 0;
}


#orderInfo{
    grid-area: orderInfo;
    display: none;
    text-align: center;
    border: solid 2px #d7d7d7;
    margin: 10px 0px;
}

#orderForm h2,
#orderInfo h2{
    max-width: 80%;
    margin: 15px 10%;
}

#orderDetails p{
    text-align: left;
    margin: 15px 10%;
}

#okButton{
    display: none;
    width: 80%;
    margin: 20px 10%;
}

#confirmOrder:active,
#okButton:active{
    background-color:#d7d7d7;
}